<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="csrf" content="{{ csrf_token }}">
  <title>CAL_i</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  {% if user.is_authenticated %}
    <h2>Thanks for logging in {{ full_name }}!</h2>
    <nav id="mainNav"></nav>
    <section id="mainContent"></section> 
  {% else %}
    <h2>Please <a href="/login/">log</a> in.</h2>
  {% endif %}
  <script data-main="../static/js/main" 
                src="/static/js/source/source.js"></script> 
</body>
</html> 