<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>CAL_i</title>
  <link rel="stylesheet" href="../static/fullcalendarcss/jquery-ui.min.css">
  <link rel="stylesheet" href="../static/fullcalendarcss/fullcalendar.css">
  <link rel="stylesheet" href="../static/css/index.css">
   <script data-main="../static/js/main"
                 src="/static/js/source/source.js"></script> 
  <script src="../static/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.min.js"></script> 
</head>
<body>
  {% if user.is_authenticated %}
   {% include 'form.html' %}
  {% else %}
   {% include 'login.html' %}
  {% endif %}
</body>
</html> 