{% block content %}
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form" 
            action="/auth/" method="post">{% csrf_token %}
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control" 
                 name="username" value="" id="username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" 
                 name="password" value="" id="password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>
<br />
<br />
<br />
<div class="container">
  <h2>Welcome to CALi, <br />a BackboneJS implementation of FullCalendar.</h2>
  <h3>Please sign in, or <a href="/register/">register</a> if you don't already have an account!</h3>
</div>
{% endblock %}
