<h2> Hi {{full_name}} you are now logged in! </h2>
<p>Click <a href="/logout/">here</a> to logout.</p>
<p>Click <a href="" class="link">here</a> to view your appointments.</p>
<p>Click <a href="" class="create">here</a> to add an.</p>
